.register-page {
    padding: 1em;
    text-align: center;
}

.register-form {
  text-align: center;
  width: 50%;
}

.form-row {
display: flex;
flex-direction: column;
text-align: left;
}

.form-group {
  margin: 0;
}

.register-btn {
  margin-top: 1em;
}

.register-h2 {
    margin-bottom: 1em;
}

.avatar-img {
  height: 50px;
}

  




