.edit {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: white;
	padding: 2em;
	border-radius: 1em;
	height: 50%;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}
