.all-posts {
	background: rgb(8, 120, 180);
	width: 100%;
	margin-top: 1em;
	margin-bottom: 10em;
	height: 68vh;
	overflow: scroll;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid;
}

.search {
	width: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.5em;
	height: 50px;
}

.search-bar {
	width: 100%;
	padding-left: 1em;
	border: 3px solid;
	border-radius: 5em;
	outline: none !important;
}

.post-time {
	font-size: 0.85em;
}

.post-btns {
	margin: 0 auto;
	width: 75%;
	display: flex;
	justify-content: space-evenly;
}

.delete-btn,
.edit-btn {
	width: fit-content;
	padding: 0.15em 1em;
	margin-top: 0.65em;
	font-size: 1em;
	border: none!important;
	outline: none!important;
	color: white!important;
}

.btn{
	outline: none!important;
	font-size: inherit;
}

.edit-btn {
	background-color: rgb(43, 162, 254)!important;
}

.delete-btn {
	background-color: rgb(16, 124, 255)!important;
}

.edit-btn:hover,
.delete-btn:hover {
	opacity: .85!important;
}

.info {
	text-transform: uppercase;
	color: rgb(0, 0, 0);
}

.skills-p {
	color: rgb(80, 80, 80);
	line-height: 1.5em;
	letter-spacing: 1px;
}

.col-md-6 {
	margin: 1em auto;
}

.row {
	margin: 0em 0em;
}

.profile .panel-profile {
	border: none;
	margin-bottom: 0;
	box-shadow: none;
	display: flex;
	flex-wrap: wrap;
}

.profile .panel-heading {
	color: #585f69;
	background: #fff;
	padding: 7px 15px;
	border-bottom: solid 3px #f7f7f7;
}

.overflow-h {
	overflow: hidden;
}

.panel-heading {
	color: #fff;
	padding: 5px 15px;
}

.profile .panel-title {
	font-size: 16px;
}

.profile .profile-blog {
	padding: 20px;
	background: rgb(255, 255, 255);
	border-radius: 0.5em;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.profile .blog-border {
	border: 1px solid #f0f0f0;
}

.profile .profile-blog img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.rounded-img {
	border-radius: 50% !important;
}

.profile .name-location {
	overflow: hidden;
}

.profile .name-location strong {
	color: #555;
	display: block;
	font-size: 16px;
}

.profile .name-location span a {
	color: #555;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.social-list {
	margin-bottom: 0;
}

.list-inline {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.list-inline li {
	display: inline-block;
	font-size: 20px;
}

.social-list li i {
	color: #00abe9;
}

.ul {
	padding-left: 0;
}

.fa {
	position: relative;
	top: 10px;
	left: 0;
	transition: all 200ms ease-in-out;
}

.fa:hover {
	top: 7px;
	color: rgb(0, 115, 255);
}

.app {
	font-size: .85em;
}

@media (max-width: 900px) {
	.all-posts {
		height: 50vh;
		padding-bottom: 6em;
		overflow: scroll;
	}

	.search {
		height: 40px;
		padding: .25em;
	}

	.app {
		font-size: .9em;
	}
}
