.create-h3 {
	font-size: 1.25em;
	text-align: center;
}

.create-post-btn {
	font-size: 0.85em;
	border: none !important;
	outline: none !important;
	margin-top: 1em;
	opacity: .9;
	font-size: .75em!important;
}

.new-post {
	margin: 1em;
	width: 20%;
	text-align: center;
	font-size: 1.25em;
}

.form-control {
	font-size: 0.85em;
}

.instructions {
	text-align: left;
	margin-top: 2em;
}

.instructions-p {
	font-size: 0.75em;
}

.welcome-h3 {
	margin-top: -.75em!important;
}

@media (max-width: 900px) {
	.new-post {
		width: 100%;
		margin: 0 auto;
		height: 35%;
		display: flex;
		justify-content: space-between;
	}

	.instructions {
		width: 50%;
		margin-top: 0em;
		font-size: 0.75em;
	}

	.new-post-area {
		font-size: 0.75em;
		width: 40%;
	}

	.welcome-h3 {
		border-bottom: 1px solid;
		width: fit-content;
		margin: 0 auto;
		font-size: 1.25em !important;
		margin-top: 1em!important;
	}

	.welcome {
		margin-top: 0em !important;
	}
}
